@import "normalize";

html {
}

.recipe {
  border-bottom: 2px solid lightblue;
  padding: 1em;
  padding-left: 10%;
  padding-top: 5%;
  width: 100%;
  .bakers-percentages {
    // display: inline-block;
    padding-right: 10%;
    display: inline-block;
    table {
      thead {
        text-align: left;
      }
      td, th {
        padding: 0.5rem;

      }
      tr.total-column {
       background: lightgrey;
        border-color: white;
      }
      th {
        background: lightblue;
        border-color: white;
      }
    }
  }
}
